.info-for-voter {
  margin-top: 20px;
  text-align: center;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  width: 80%;
  &__header {
    font-size: 30px;
  }
  &__descr {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.2;
  }
  &__block {
    border-bottom: 4px solid #a64bf4;
    padding: 10px 0 10px 0;
  }
  &__block:last-child {
    border-bottom: none;
  }
  &__text {
    resize: none;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    font-size: 20px;
    height: 30px;
    padding: 2px 0;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
  }

  &__text-key {
    resize: none;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
    height: 30px;
    padding: 2px 0;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
  }
  &__block {
    position: relative;
  }
  button {
    margin-left: 10px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
