.link-home {
  position: absolute;
  right: 25px;
  top: 5px;
  width: 35px;
  height: 35px;
  background-color: #cea3f5;
  border-radius: 50%;
  img {
    right: 5px;
    top: 5px;
    position: absolute;
  }
}
